---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Nicolas Incaustegui" description="About Nicolas Incaustegui">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Después de haber llegado aquí, echa un vistazo a la información a continuación para descubrir más sobre mí y mi experiencia"
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Imagen de perfil"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Como ingeniero industrial y full stack, con una profunda pasión por el desarrollo de páginas web 
						y la adopción de las últimas tecnologías. Poseo conocimiento que abarca desde la creación de
						 aplicaciones web utilizando lenguajes como JavaScript y TypeScript, hasta la implementación de 
						 tecnologías como Nest, React, Express y Tailwind, lo que me permite llevar a cabo proyectos de desarrollo web de 
						 manera eficiente y efectiva.
					</p>
					<br/>
					<p>
						Cuento con conocimiento en la gestión de proyectos mediante metodologías ágiles, así como en la optimización de 
						procesos, logística y modelado matemático. Mi objetivo profesional es contribuir al avance tecnológico en diversos 
						sectores industriales, buscando siempre optimizar procesos y mejorar la eficiencia operativa.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Ingeniero Industrial, Desarrolllador Full stack, Actualmente termiando Especialización  en Gerencia del talento Humano</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
